# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Arduino
bin/
*.lst
*.sym
*.map
*.lss
*.elf
*.eep
.dep/
build/
test-bin
app/pde.jar
arduino-core/arduino-core.jar
hardware/arduino/avr/libraries/Bridge/examples/XivelyClient/passwords.h

# Other files
*.zip
*.tar.bz2
*.tgz
*.tar.gz
*.tar.xz

# System files
.directory
.DS_Store

# Other ides
*.iml
.idea/
manifest.mf
nbbuild.xml
nbproject/
